@charset "utf-8";

@-webkit-keyframes border_circle {
  to {
    -webkit-transform: rotate(-1turn);
    transform: rotate(-1turn);
  }
}

@keyframes border_circle {
  to {
    -webkit-transform: rotate(-1turn);
    transform: rotate(-1turn);
  }
}

.opc_style_d_container {
  text-align: left;
}

.opc_style_d_container .text_red {
  color: #ff0000;
}

.opc_style_d_container .mwc_items_div {
  padding-left: 35px;
  padding-right: 25px;
}

.opc_style_d_container .box_select {
  border: 1px solid #ddd;
  padding: 8px 10px 0 10px;
}

/* banner discount */
.box_select .banner_discount {
  padding: 15px 15px 20px 15px;
  position: relative;
  display: flex;
}

.label_discount_cont {
  width: 25%;
}

.box_select .banner_discount .label_discount {
  width: 140px;
  height: 140px;
  background-color: #ff0000;
  border-radius: 100%;
  justify-content: center;
  position: relative;
  font-size: 22px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 110%;
  /* display: flex; */
  /* align-items: center; */
  /* position: absolute; */
  /* left: 0; */
}

.box_select .banner_discount .label_discount .border_inside {
  width: 84%;
  height: 84%;
  border: 3px dashed #fff;
  position: absolute;
  border-radius: 100%;
  top: 8%;
  left: 8%;
  -webkit-animation: border_circle 12s linear infinite;
  animation: border_circle 12s linear infinite;
}

p.text_red.label_secondary_text {
  font-size: 21px;
  margin-top: 15px;
}

.box_select .banner_discount .label_discount .label_text {
  padding: 0 17.6px;
  text-align: center;
  position: absolute;
  top: 33%;
}

.box_select .banner_discount .text_discount {
  padding: 20px 0 20px 20px;
  font-weight: 700;
  width: 75%;
}

/* end banner discount */

.box_select .title_step {
  border-top: 1px solid #ddd;
  padding: 10px 0;
}

/* product option list */
.box_select .products_list .table_title .text_left {
  text-align: left;
}

.box_select .products_list .table_title .text_right {
  text-align: right;
}

.box_select .products_list .productRadioListItem {
  /* margin: 25px 0; */
  min-height: 60px;
  display: flex;
  position: relative;
  cursor: pointer;
  font-weight: 600;
}

.box_select .products_list .productRadioListItem .label_selection {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  cursor: pointer;
}

.box_select .products_list .productRadioListItem .radio_select {
  position: relative;
  z-index: 1;
}

.box_select .products_list .productRadioListItem .product_name {
  /* margin: 0 17.6px; */
  text-align: left;
  z-index: 1;
}

.box_select .products_list .productRadioListItem .product_name .opt_popular {
  margin-bottom: 5px;
}

.box_select .products_list .productRadioListItem .product_name .opt_title * {
  display: inline;
}

.box_select .products_list .productRadioListItem .product_price {
  flex: 1;
  text-align: right;
  z-index: 1;
}

/* style product popular */
.box_select .products_list .productRadioListItem.prod_popular:before {
  content: "";
  top: -8.8px;
  left: -25px;
  position: absolute;
  width: calc(100% + 50px);
  height: calc(100% + 17.6px);
  background-color: #ffff00;
  z-index: 0;
  border: 1px solid;
  box-shadow: 0px 5px 10px 4px rgba(0, 0, 11, 0.3);
}

.box_select .products_list .productRadioListItem.prod_popular .label_popular {
  position: absolute;
  top: -25px;
  left: -43px;
  width: 45px;
  margin: 0;
}

.radio_select {
  /* width: 22px !important;
  height: 22px !important; */
  line-height: 1.5;
}

.radio_select_cont {
  padding: 5px;
  box-sizing: border-box;
}

.box_select .products_list .productRadioListItem.prod_popular {
  margin-bottom: 5%;
}

div#mwc_template_d_img {
  width: 35%;
}

div#mwc_template_d_totals {
  width: 65%;
  text-align: right;
  line-height: 53px;
}

div#mwc_template_d_summary {
  display: flex;
  align-content: space-between;
  border: 4px dashed #EA0013;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #7788999c;
}

.totals.discount {
  color: #EA0013;
  font-weight: 600;
  text-shadow: 1px 1px 1px #0000003b;
  font-size: 22px;
}

.totals.grand {
  font-weight: 600;
  text-shadow: 1px 1px 1px #0000003b;
  font-size: 26px;
}

td.td-name,
td.td-shipping-text,
td.td-shipping,
td.td-price {
  font-weight: 500;
}

.title_bundle {
  background: red;
  padding: 30px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 6px;
  text-align: center;
  box-shadow: 0px 1px 4px darkgray;
}

.title_bundle>h3 {
  color: white;
  font-size: xx-large;
  margin-bottom: 0;
}

.banner_discount {
  perspective: 1000px;
}

.label_discount {
  transform-style: preserve-3d;
  animation: rotateYAnimation 5s infinite;
}

@keyframes rotateYAnimation {
  0% {
    transform: rotateY(0deg);
  }

  50% {
    transform: rotateY(360deg);
  }

  100% {
    transform: rotateY(360deg);
  }

}

img.no-lazy {
  animation: pulseAnimation 2s infinite;
}

@keyframes pulseAnimation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}


.text_discount p {
  margin-bottom: 0;
}

ul.wc_payment_methods.payment_methods.methods {
  list-style: none;
  padding-left: 0;
}