@charset "utf-8";

#package_order_f .col_package_item .w_wrapper {
  background-color: #efefef;
  padding: 60px 10px 10px 10px;
}
#package_order_f .mwc_title_package {
    text-transform: uppercase;
    text-align: left;
}
#package_order_f .col_package_item {
  text-transform: uppercase;
  cursor: pointer;
}
.w_wrapper .label_save {
  background-color: #dd0d39;
  color: #fff;
  position: absolute;
  padding: 5px 25px;
  left: -15px;
  top: 15px;
  font-weight: bold;
}
.w_wrapper .label_save::before {
  content: "";
  position: absolute;
  top: 35.5px;
  left: 0px;
  border-top: 15px solid #950624;
  border-left: 15px solid transparent;
}
.w_wrapper .w_content .mwc_package_title p {
  color: #1a5b84;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 10px;
}
.w_wrapper .w_content .w_content_image_top {
    padding: 0 65px;
}
.w_wrapper .w_content .w_content_image_top img {
  max-height: 50px;
  width: auto;
}
.w_wrapper .w_content .mwc_image_main_wrap {
  padding: 20px;
}
.w_wrapper .w_content .mwc_image_main_wrap img {
  z-index: 2;
  position: relative;
  max-height: 160px;
  width: auto;
}
.w_wrapper .w_content .mwc_image_main_wrap .content_img {
  display: inline-block;
  position: relative;
}
.w_wrapper .w_content .mwc_image_main_wrap .content_img::before {
  content: "";
  z-index: 1;
  position: absolute;
  border-radius: 50%;
  background-color: #dee5e6;
  width: 155px;
  height: 155px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.w_wrapper .w_content .mwc_image_main_wrap .content_img .label_bundle_type {
  z-index: 3;
  width: 60px;
  height: 60px;
  background-color: #dd0d39;
  border-radius: 100%;
  justify-content: center;
  position: relative;
  color: #fff;
  font-weight: bold;
  line-height: 110%;
  display: flex;
  align-items: center;
  position: absolute;
  right: -5%;
  bottom: 15px;
  text-transform: uppercase;
}
.w_wrapper
  .w_content
  .mwc_image_main_wrap
  .content_img
  .label_bundle_type
  .border_inside {
  width: 85%;
  height: 85%;
  padding: 25% 0;
  border: 1px solid #fff;
  border-radius: 100%;
}
.w_wrapper .w_content .w_wrap_price {
  z-index: 3;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 80px;
}
.w_wrapper .w_content .w_wrap_price .w_content_price_before * {
  color: #aeb2b3;
  font-weight: normal;
  font-size: 13px;
}
.w_wrapper .w_content .w_wrap_price .w_content_price_now * {
  color: #000;
  font-weight: bold;
  font-size: 13px;
}
.w_wrapper .w_content .w_wrap_price .w_content_price_total {
  padding: 10px 0;
}
.w_wrapper .w_content .w_wrap_price .w_content_price_total * {
  font-weight: bold;
  font-size: 23px;
  color: #1a5b83;
}
.w_wrapper .w_btn_select {
  width: 80%;
  background: #1a5b84;
  position: absolute;
  bottom: -34px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding: 0 50px;
}
.w_wrapper .w_btn_select span {
  color: #fff;
  font-weight: bold;
}
.w_wrapper .w_btn_select .text_selected {
  display: none;
}

/* package selected */
.col_package_item.mwc_active_product .w_wrapper {
  background-image: linear-gradient(to bottom, #1a5b84, #083b5c);
}
.col_package_item.mwc_active_product
  .w_wrapper
  .w_content
  .mwc_package_title
  p {
  color: #fff;
}
.col_package_item.mwc_active_product
  .w_wrapper
  .w_content
  .mwc_image_main_wrap
  .content_img::before {
  background-color: #0f4365;
}
.col_package_item.mwc_active_product
  .w_wrapper
  .w_content
  .w_wrap_price
  .w_content_price_before
  * {
  color: #2e77a6;
}
.col_package_item.mwc_active_product
  .w_wrapper
  .w_content
  .w_wrap_price
  .w_content_price_now
  *,
.col_package_item.mwc_active_product
  .w_wrapper
  .w_content
  .w_wrap_price
  .w_content_price_total
  * {
  color: #fff;
}
.col_package_item.mwc_active_product .w_wrapper .w_btn_select {
  background-color: #6ed12d;
}
.col_package_item.mwc_active_product .w_wrapper .w_btn_select .text_selected {
  display: block;
}
.col_package_item.mwc_active_product .w_wrapper .w_btn_select .text_select {
  display: none;
}

/* custom form checkout-------------------------------------------------------------- */
.op_custom_checkout_form #customer_details,
.op_custom_checkout_form .col .col-inner {
  background-color: #efefef;
  padding: 15px;
  margin-bottom: 15px;
}

.op_custom_checkout_form .woocommerce-billing-fields label {
  display: none;
}

.op_custom_checkout_form .woocommerce-billing-fields input,
.op_custom_checkout_form .woocommerce-billing-fields select {
  height: 3.0084em;
  transition: padding 0.3s;
}

.op_custom_checkout_form .woocommerce-billing-fields .fl-is-active label {
  display: block;
  width: auto !important;
  opacity: 1 !important;
  transition: all 0.3s;
  font-size: 12px;
  white-space: nowrap;
  position: absolute;
  line-height: 1;
  padding: 0;
  pointer-events: none;
  font-weight: normal;
}

.op_custom_checkout_form .woocommerce-billing-fields .fl-is-active input,
.op_custom_checkout_form .woocommerce-billing-fields .fl-is-active select {
  padding-top: 1.1em;
  padding-bottom: 0.5em;
}

.statistical {
  /* padding-bottom: 30px;
  padding-top: 20px; */
  background-color: #efefef;
  margin-bottom: 15px;
  padding: 35px 15px 10px 15px;
}
.statistical .checkout_title {
  text-align: left;
  font-weight: bold;
}
.statistical table {
  margin-bottom: 0;
}
.statistical .td-name {
  font-weight: bold;
}
.statistical th {
  text-transform: none;
  padding: 0 0 5px !important;
}
.statistical .td-price .price_before,
.statistical .td-price .price_before * {
  color: #aeb2b3;
  text-decoration: line-through;
}
.statistical .td_total {
  color: #2b6589;
  font-weight: bold;
  border-top: 2px solid #fff;
}
.statistical .td_total_price {
  border-top: 2px solid #fff;
}
.statistical .td_total_price * {
  font-size: 18px;
  font-weight: bold;
  color: #2b6589;
}
.statistical thead th {
  border-bottom: 1px solid #fff;
}

.statistical td:first-child,
.statistical th:first-child {
  text-align: left;
}

.statistical td:last-child,
.statistical th:last-child {
  text-align: right;
}

.statistical td,
.statistical th {
  padding: 5px;
}

.statistical td {
  border: none;
}

.statistical tfoot {
  background-color: rgba(248, 231, 28, 0.2);
  border: 1px dashed #ea0013;
  border-radius: 37px;
}

.statistical tfoot td p {
  font-size: 18px;
  line-height: 22px;
  margin-right: 10px;
  font-weight: 600;
}
