.op_c_package_option {
    border: none;
}

.op_c_package_option.mwc_active_product .col-inner,
.op_c_package_option:hover .col-inner {
    color: #fff;
    background-color: var(--rio-primary-color, #4a7f83);
    ;
}

.op_c_package_option .col-inner {
    height: 100%;
    border: 1px solid var(--rio-primary-color, #4a7f83);
    border-radius: 15px;
    overflow: hidden;
    transition: background .3s;
}

.op_c_package_content {
    display: block;
    padding: 2rem;
    text-align: center;
    transition: color .3s;
}

.mwc-checkbox-wrapper {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

h3.mwc-popularity-text {
    color: var(--rio-primary-color, #4a7f83);
    font-size: 16px;
    width: 100%;
    text-align: center;
}

.op_c_package_option.mwc_active_product .mwc-popularity-text,
.op_c_package_option:hover .mwc-popularity-text {
    color: var(--rio-secondary-color, #dd9933);
}

.op_c_package_content .mwc-title {
    font-size: 24px;
}

.op_c_package_option.mwc_active_product .mwc-title,
.op_c_package_option:hover .mwc-title {
    color: #fff;
}

.mwc-title {
    width: 100%;
}

.mwc-title p {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 18px;
    width: 100%;
    text-align: center;
    min-height: 40px;
}

.op_c_package_content .mwc-discount-text {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    width: 100%;
}

.op_c_package_image.mt-2.mb-0 {
    min-width: 100%;
}

.op_c_package_option.mwc_active_product .mwc-discount-text,
.op_c_package_option:hover .mwc-discount-text {
    color: #fff;
}

.op_c_package_content .mwc-sub-price {
    font-size: 16px;
    width: 100%;
}

.op_c_package_option.mwc_active_product .mwc-sub-price,
.op_c_package_option:hover .mwc-sub-price {
    color: #fff;
}

.op_c_package_content .mwc-total-price {
    font-size: 16px;
    font-weight: 500;
    width: 100%;
}

.op_c_package_content .mwc-total-price>span:first-child {
    text-decoration: line-through;
}

.op_c_package_option.mwc_active_product .mwc-total-price,
.op_c_package_option:hover .mwc-total-price {
    color: #fff;
}

.mwc_product_variations {
    padding-top: 1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-bottom: 3rem;
    border: 1px solid var(--rio-primary-color, #4a7f83);
    border-radius: 30px;
    overflow: hidden;
}

#order_summary {
    border-radius: 15px;
}

#mwc_checkout .product_variations_table {
    border-radius: 15px;
}

#mwc_checkout table td, #mwc_checkout table th {
    border: none;
}

button#mwc_template_h_see_more {
    float: right;
    padding: 0.5em 1em;
    font-size: 14px;
    border-radius: 5px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .op_c_package_option .col-inner {
        border-radius: 20px;
    }

    .op_c_package_content {
        padding: 1.5rem;
    }

    .op_c_package_content .mwc-popularity-text {
        font-size: 16px;
    }

    .op_c_package_content .mwc-title {
        font-size: 20px;
    }

    .op_c_package_content .mwc-discount-text {
        font-size: 16px;
    }

    .op_c_package_content .mwc-sub-price {
        font-size: 18px;
    }

    .op_c_package_content .mwc-total-price {
        font-size: 16px;
    }

    .mwc_product_variations {
        padding-top: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        margin-bottom: 2rem;
        border-radius: 20px;
    }

    #order_summary {
        border-radius: 20px;
    }

    #mwc_checkout .product_variations_table {
        border-radius: 20px;
    }
}

@media (max-width: 992px) {}

@media (max-width: 768px) {
    .op_c_package_option .col-inner {
        border-radius: 20px;
    }

    .op_c_package_content {
        padding: 1.5rem;
    }

    .op_c_package_content .mwc-popularity-text {
        font-size: 16px;
    }

    .op_c_package_content .mwc-title {
        font-size: 20px;
    }

    .op_c_package_content .mwc-discount-text {
        font-size: 16px;
    }

    .op_c_package_content .mwc-sub-price {
        font-size: 18px;
    }

    .op_c_package_content .mwc-total-price {
        font-size: 16px;
    }

    .mwc_product_variations {
        padding-top: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        margin-bottom: 2rem;
        border-radius: 20px;
    }

    #order_summary {
        border-radius: 20px;
    }

    #mwc_checkout .product_variations_table {
        border-radius: 20px;
    }
}

@media (max-width: 576px) {

    button#mwc_template_h_see_more {
        width: 100%;
    }

    .op_c_package_content {
        padding: 1rem 0.5rem 0 1rem;
        flex-wrap: wrap !important;
    }

    .op_c_package_option .col-inner {
        padding: 15px;
    }

    .op_c_package_content .mwc-popularity-text {
        font-size: 18px;
    }

    .mwc-title p {
        font-size: 18px;
        min-height: 30px;
    }

    .op_c_package_content .mwc-discount-text {
        font-size: 18px;
        min-height: 40px;
    }

    .op_c_package_content .mwc-sub-price {
        font-size: 18px;
    }

    .op_c_package_content .mwc-total-price {
        font-size: 18px;
    }

}

@media (max-width: 400px) {}